.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
    border-right: none!important;
    border-left: none!important;
}
.table .btn{
    margin-left: 3px!important;
}


.selectpicker{
    background-color: white;!important;
    color: #777!important;
    padding: 2px 6px!important;
}
.inp{
    height: 25px!important;
    padding: 3px 12px !important;
    display: inline;!important;
}

.searchable-select-holder{
    min-height: 25px!important;
    padding: 3px!important;
}