.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
    border-right: none!important;
    border-left: none!important;
}
.table .btn{
    margin-left: 3px!important;
}


.selectpicker{
    background-color: white;!important;
    color: #777!important;
    padding: 2px 6px!important;
}
.inp{
    height: 25px!important;
    padding: 3px 12px !important;
    display: inline;!important;
}

.searchable-select-holder{
    min-height: 25px!important;
    padding: 3px!important;
}

.bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]){
    width: 100% !important;
}
.searchable-select{
    min-width: 100%!important;
}

.searchable-select-items,.bootstrap-select.btn-group .dropdown-menu.inner{
    background-color:#1ab394 !important;
    color: white !important;
}

.searchable-select-item.selected{
    background-color:white !important;
    color: black !important;
}

.table .btn{
    padding: 3px 6px!important;

}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    padding: 3px 8px!important;
}

.star-content{
    color: red;font-size: 1.5em
}