<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.organOld.dao.repository.OldmanDao">

    <resultMap id="oldman" type="com.organOld.dao.entity.oldman.Oldman">
        <id property="id" column="id" />
        <result property="name" column="name"/>
        <result property="sex" column="sex" />
        <result property="birthday" column="birthday" />
        <result property="pid" column="pid" />
        <result property="address" column="address" />
        <result property="phone" column="phone" />
        <result property="census" column="census" />
        <result property="louNum" column="lou_num" />
        <result property="oldStatus" column="old_status" />
        <result property="politicalStatus" column="political_status" />
        <result property="integral" column="integral"/>
        <result property="time" column="time" />
        <association property="xq" javaType="com.organOld.dao.entity.oldman.Xq">
            <id property="id" column="xid"/>
            <result property="name" column="xname"/>
            <result property="jwName" column="jname"/>
            <result property="districtName" column="dname"/>
        </association>
        <collection property="labelManList" ofType="com.organOld.dao.entity.label.LabelMan">
            <id property="id" column="lmid" />
            <result property="labelName" column="label_name"/>
            <result property="isImplement" column="is_implement" />
        </collection>
    </resultMap>
    <!--不能简单的 limit 0，10  因为有1对多的关系  会补全   一条记录当多条使用（由于某个字段有多个值）-->
    <select id="getByPage" parameterType="com.organOld.dao.util.Page" resultMap="oldman">
        SELECT o.id,o.name,o.sex,o.birthday,c.value census,p.value political_status,o.time,o.phone,o.address,o.pid,o.lou_num,o.old_status,
        x.value xname,org.name jname,d.value dname,lo.id lmid,l.name label_name,lo.is_implement
        FROM oldman_base o left join auto_value c on o.census=c.id
        left join auto_value p on o.political_status=p.id
        left join label_oldman lo on lo.oldman_id=o.id left join label l on lo.label_id=l.id,
        auto_value x,auto_value d,organ org
        WHERE  x.id=o.xq_id AND org.id=x.parent_index AND d.id=org.district_id

        <if test="length!=null and length!=0">
            and o.id in(
            select a.id from
            (select oo.id from oldman_base oo,
            auto_value x,auto_value d,organ org,oldman_family ofa,oldman_economic oe,oldman_health_base ohb
            where x.id=oo.xq_id AND org.id=x.parent_index AND d.id=org.district_id and ofa.oldman_id=oo.id and oe.oldman_id=oo.id AND ohb.oldman_id=oo.id
            <if test="entity.birthdayStart!=null">
                <![CDATA[
            and DATE_FORMAT(oo.birthday,'%Y') >= DATE_FORMAT(#{entity.birthdayStart},'%Y')
            ]]>
            </if>
            <if test="entity.birthdayEnd!=null">
                <![CDATA[
            and DATE_FORMAT(oo.birthday,'%Y') <= DATE_FORMAT(#{entity.birthdayEnd},'%Y')
            ]]>
            </if>
            <if test="entity!=null and entity.id!=null and entity.id!=0">
                and oo.id=#{entity.id}
            </if>
            <if test="entity!=null and entity.organId!=null and entity.organId!=0">
                and org.id in (
                SELECT
                case o.parent
                when 0 then child.id
                else o.id
                end id
                from organ o left join organ child on child.parent=o.id
                WHERE o.id=#{entity.organId}
                )
            </if>
            <if test="entity!=null and entity.sex!=null and entity.sex!=0">
                and oo.sex=#{entity.sex}
            </if>
            <if test="entity!=null and entity.isHealth!=null and entity.isHealth.length > 0">
                and (ohb.is_mb in
                <foreach collection="entity.isHealth" index="index" item="item" open="(" separator="," close=")">
                    ${item}
                </foreach>
                or ohb.is_sn in
                <foreach collection="entity.isHealth" index="index" item="item" open="(" separator="," close=")">
                    ${item}
                </foreach>
                or ohb.is_ywfy in
                <foreach collection="entity.isHealth" index="index" item="item" open="(" separator="," close=")">
                    ${item}
                </foreach>
                or ohb.is_exzl in
                <foreach collection="entity.isHealth" index="index" item="item" open="(" separator="," close=")">
                    ${item}
                </foreach>
                or ohb.is_gz in
                <foreach collection="entity.isHealth" index="index" item="item" open="(" separator="," close=")">
                    ${item}
                </foreach>
                or ohb.is_cj in
                <foreach collection="entity.isHealth" index="index" item="item" open="(" separator="," close=")">
                    ${item}
                </foreach>
                )
            </if>
            <if test="entity!=null and entity.family!=null and entity.family.length > 0">
                and ofa.family_index in
                <foreach collection="entity.family" index="index" item="item" open="(" separator="," close=")">
                    ${item}
                </foreach>
            </if>
            <if test="entity!=null and entity.intelligence!=null and entity.intelligence.length > 0">
                and ohb.intelligence in
                <foreach collection="entity.intelligence" index="index" item="item" open="(" separator="," close=")">
                    ${item}
                </foreach>
            </if>
            <if test="entity!=null and entity.eyesight!=null and entity.eyesight.length > 0">
                and ohb.eyesight in
                <foreach collection="entity.eyesight" index="index" item="item" open="(" separator="," close=")">
                    ${item}
                </foreach>
            </if>
            <if test="entity!=null and entity.economic!=null and entity.economic.length > 0">
                and oe.economic_index in
                <foreach collection="entity.economic" index="index" item="item" open="(" separator="," close=")">
                    ${item}
                </foreach>
            </if>
            <if test="entity!=null and entity.censusArray!=null and entity.censusArray.length > 0">
                and oo.census in
                <foreach collection="entity.censusArray" index="index" item="item" open="(" separator="," close=")">
                    ${item}
                </foreach>
            </if>
            <if test="entity!=null and entity.oldStatusArray!=null and entity.oldStatusArray.length > 0">
                and oo.old_status in
                <foreach collection="entity.oldStatusArray" index="index" item="item" open="(" separator="," close=")">
                    ${item}
                </foreach>
            </if>
            <if test="entity!=null and entity.politicalStatusArray!=null and entity.politicalStatusArray.length > 0">
                and oo.political_status in
                <foreach collection="entity.politicalStatusArray" index="index" item="item" open="(" separator="," close=")">
                    ${item}
                </foreach>
            </if>
            <if test="entity!=null and entity.jw!=null and entity.jw.length > 0">
                and org.id in
                <foreach collection="entity.jw" index="index" item="item" open="(" separator="," close=")">
                    ${item}
                </foreach>
            </if>
            <if test="entity!=null and entity.district!=null and entity.district.length > 0">
                and d.id in
                <foreach collection="entity.district" index="index" item="item" open="(" separator="," close=")">
                    ${item}
                </foreach>
            </if>
            <if test="entity!=null and entity.search!=null and entity.search!=''">
                and (oo.pid LIKE  concat('%',#{entity.search},'%') OR oo.address LIKE  concat('%',#{entity.search},'%') OR oo.name LIKE  concat('%',#{entity.search},'%')
                OR oo.phone LIKE  concat('%',#{entity.search},'%'))
            </if>
            order by oo.${sortType} ${sort} limit #{start},#{length} ) as a
            )
        </if>
        order by o.${sortType} ${sort}
    </select>

    <select id="getSizeByPage" parameterType="com.organOld.dao.util.Page" resultType="java.lang.Long">
        SELECT count(1)
        FROM oldman_base o left join auto_value c on o.census=c.id
        left join auto_value p on o.political_status=p.id,
        auto_value x,auto_value d,organ org,oldman_family ofa,oldman_economic oe,oldman_health_base ohb
        WHERE  x.id=o.xq_id AND org.id=x.parent_index AND d.id=org.district_id and ofa.oldman_id=o.id and oe.oldman_id=o.id AND ohb.oldman_id=o.id
        <if test="entity.birthdayStart!=null">
            <![CDATA[
            and DATE_FORMAT(o.birthday,'%Y') >= DATE_FORMAT(#{entity.birthdayStart},'%Y')
            ]]>
        </if>
        <if test="entity.birthdayEnd!=null">
            <![CDATA[
            and DATE_FORMAT(o.birthday,'%Y') <= DATE_FORMAT(#{entity.birthdayEnd},'%Y')
            ]]>
        </if>
        <if test="entity!=null and entity.id!=null and entity.id!=0">
            and o.id=#{entity.id}
        </if>
        <if test="entity!=null and entity.organId!=null and entity.organId!=0">
            and org.id in (
            SELECT
            case o.parent
            when 0 then child.id
            else o.id
            end id
            from organ o left join organ child on child.parent=o.id
            WHERE o.id=#{entity.organId}
            )
        </if>
        <if test="entity!=null and entity.sex!=null and entity.sex!=0">
            and o.sex=#{entity.sex}
        </if>
        <if test="entity!=null and entity.isHealth!=null and entity.isHealth.length > 0">
            and (ohb.is_mb in
            <foreach collection="entity.isHealth" index="index" item="item" open="(" separator="," close=")">
                ${item}
            </foreach>
            or ohb.is_sn in
            <foreach collection="entity.isHealth" index="index" item="item" open="(" separator="," close=")">
                ${item}
            </foreach>
            or ohb.is_ywfy in
            <foreach collection="entity.isHealth" index="index" item="item" open="(" separator="," close=")">
                ${item}
            </foreach>
            or ohb.is_exzl in
            <foreach collection="entity.isHealth" index="index" item="item" open="(" separator="," close=")">
                ${item}
            </foreach>
            or ohb.is_gz in
            <foreach collection="entity.isHealth" index="index" item="item" open="(" separator="," close=")">
                ${item}
            </foreach>
            or ohb.is_cj in
            <foreach collection="entity.isHealth" index="index" item="item" open="(" separator="," close=")">
                ${item}
            </foreach>
            )
        </if>
        <if test="entity!=null and entity.family!=null and entity.family.length > 0">
            and ofa.family_index in
            <foreach collection="entity.family" index="index" item="item" open="(" separator="," close=")">
                ${item}
            </foreach>
        </if>
        <if test="entity!=null and entity.intelligence!=null and entity.intelligence.length > 0">
            and ohb.intelligence in
            <foreach collection="entity.intelligence" index="index" item="item" open="(" separator="," close=")">
                ${item}
            </foreach>
        </if>
        <if test="entity!=null and entity.eyesight!=null and entity.eyesight.length > 0">
            and ohb.eyesight in
            <foreach collection="entity.eyesight" index="index" item="item" open="(" separator="," close=")">
                ${item}
            </foreach>
        </if>
        <if test="entity!=null and entity.economic!=null and entity.economic.length > 0">
            and oe.economic_index in
            <foreach collection="entity.economic" index="index" item="item" open="(" separator="," close=")">
                ${item}
            </foreach>
        </if>
        <if test="entity!=null and entity.censusArray!=null and entity.censusArray.length > 0">
            and o.census in
            <foreach collection="entity.censusArray" index="index" item="item" open="(" separator="," close=")">
                ${item}
            </foreach>
        </if>
        <if test="entity!=null and entity.politicalStatusArray!=null and entity.politicalStatusArray.length > 0">
            and o.political_status in
            <foreach collection="entity.politicalStatusArray" index="index" item="item" open="(" separator="," close=")">
                ${item}
            </foreach>
        </if>
        <if test="entity!=null and entity.jw!=null and entity.jw.length > 0">
            and org.id in
            <foreach collection="entity.jw" index="index" item="item" open="(" separator="," close=")">
                ${item}
            </foreach>
        </if>
        <if test="entity!=null and entity.district!=null and entity.district.length > 0">
            and d.id in
            <foreach collection="entity.district" index="index" item="item" open="(" separator="," close=")">
                ${item}
            </foreach>
        </if>
        <if test="entity!=null and entity.search!=null and entity.search!=''">
            and (o.pid LIKE  concat('%',#{entity.search},'%') OR o.address LIKE  concat('%',#{entity.search},'%') OR o.name LIKE  concat('%',#{entity.search},'%')
            OR o.phone LIKE  concat('%',#{entity.search},'%'))
        </if>

    </select>

    <delete id="delById">
        DELETE FROM oldman_base WHERE id=#{id}
    </delete>

    <insert id="save" parameterType="com.organOld.dao.entity.oldman.Oldman" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO oldman_base(name,sex,birthday,pid,address,xq_id,census,political_status,phone,lou_num,floor)
        VALUE (#{name},#{sex},#{birthday},#{pid},#{address},#{xqId},#{census},#{politicalStatus},#{phone},#{louNum},#{floor})
    </insert>

    <update id="updateById" parameterType="com.organOld.dao.entity.oldman.Oldman">
        UPDATE oldman_base
        SET name=#{name},sex=#{sex},birthday=#{birthday},pid=#{pid},address=#{address},xq_id=#{xqId},census=#{census},political_status=#{politicalStatus},
        district_id=#{districtId},phone=#{phone}
        WHERE id=#{id}
    </update>


    <update id="updateKeyOldman">
        UPDATE oldman_base
        SET
        goal= CASE id
            <foreach collection="list" index="index" item="item" open="" separator=" " close="">
                WHEN ${item.id} THEN #{item.goal}
            </foreach>
        END,
        key_status= CASE id
            <foreach collection="list" index="index" item="item" open="" separator=" " close="">
                WHEN ${item.id} THEN #{item.keyStatus}
            </foreach>
        END
        WHERE id in
            <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                ${item.id}
            </foreach>
    </update>

    <update id="updateKeyOldmanFuture">
        UPDATE oldman_base
        SET
        future_goal= CASE id
        <foreach collection="list" index="index" item="item" open="" separator=" " close="">
            WHEN ${item.id} THEN #{item.goal}
        </foreach>
        END,
        future_key_status= CASE id
        <foreach collection="list" index="index" item="item" open="" separator=" " close="">
            WHEN ${item.id} THEN #{item.keyStatus}
        </foreach>
        END
        WHERE id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            ${item.id}
        </foreach>
    </update>

    <select id="getMaxId" resultType="java.lang.Long">
        select MAX(id) FROM oldman_base
    </select>


    <select id="getIdByPid" resultType="java.lang.Integer">
        SELECT id FROM oldman_base WHERE pid=#{pid}
    </select>



    <update id="updateByIds" parameterType="java.util.List">
        update oldman_base
        SET
        name= CASE id
        <foreach collection="list" index="index" item="item" open="" separator=" " close="">
            WHEN ${item.id} THEN #{item.name}
        </foreach>
        END,
        sex= CASE id
        <foreach collection="list" index="index" item="item" open="" separator=" " close="">
            WHEN ${item.id} THEN #{item.sex}
        </foreach>
        END,
        birthday= CASE id
        <foreach collection="list" index="index" item="item" open="" separator=" " close="">
            WHEN ${item.id} THEN #{item.birthday}
        </foreach>
        END,
        pid= CASE id
        <foreach collection="list" index="index" item="item" open="" separator=" " close="">
            WHEN ${item.id} THEN #{item.pid}
        </foreach>
        END,
        address= CASE id
        <foreach collection="list" index="index" item="item" open="" separator=" " close="">
            WHEN ${item.id} THEN #{item.address}
        </foreach>
        END,
        xq_id= CASE id
        <foreach collection="list" index="index" item="item" open="" separator=" " close="">
            WHEN ${item.id} THEN #{item.xqId}
        </foreach>
        END,
        census= CASE id
        <foreach collection="list" index="index" item="item" open="" separator=" " close="">
            WHEN ${item.id} THEN #{item.census}
        </foreach>
        END,
        political_status= CASE id
        <foreach collection="list" index="index" item="item" open="" separator=" " close="">
            WHEN ${item.id} THEN #{item.politicalStatus}
        </foreach>
        END,
        phone= CASE id
        <foreach collection="list" index="index" item="item" open="" separator=" " close="">
            WHEN ${item.id} THEN #{item.phone}
        </foreach>
        END,
        lou_num= CASE id
        <foreach collection="list" index="index" item="item" open="" separator=" " close="">
            WHEN ${item.id} THEN #{item.louNum}
        </foreach>
        END,
        floor= CASE id
        <foreach collection="list" index="index" item="item" open="" separator=" " close="">
            WHEN ${item.id} THEN #{item.floor}
        </foreach>
        END
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>


    <update id="setDisabled">
        UPDATE oldman_base o,auto_value x,organ org
        SET o.disable=1
        WHERE o.id NOT in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
        <if test="organId!=null and organId!=0">
            and x.id=o.xq_id AND org.id=x.parent_index AND org.id=#{organId}
        </if>
        and o.disable=0
    </update>

    <update id="updateProp">
        UPDATE oldman_base
        SET ${prop}=#{value}
        WHERE id=#{id}
    </update>

    <select id="getIntegralByOldmanId" resultMap="oldman">
        SELECT name,integral FROM oldman_base WHERE id=#{oldmanId}
    </select>

    <update id="updateOldStatusByIds">
        update oldman_base
        SET
        old_status= CASE id
        <foreach collection="list" index="index" item="item" open="" separator=" " close="">
            WHEN ${item.id} THEN #{item.oldStatus}
        </foreach>
        END
    </update>
</mapper>
