<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.organOld.dao.repository.OldmanFamilyDao">

    <resultMap id="oldmanFamily" type="com.organOld.dao.entity.oldman.OldmanFamily">
        <id property="id" column="id" />
        <result property="family" column="family"/>
        <result property="time" column="time" />
        <association property="oldman" javaType="com.organOld.dao.entity.oldman.Oldman">
            <id property="id" column="oid" />
            <result property="name" column="name"/>
        </association>
    </resultMap>

    <update id="updateById" parameterType="com.organOld.dao.entity.oldman.OldmanFamily">
        UPDATE oldman_family
        SET family_index=#{family_index},oldman_id=#{oldman_id},id=#{id},time=#{time}
        WHERE id=#{id}
    </update>


    <update id="updateByOldmanIds" parameterType="java.util.List">
        update oldman_family
        SET
        family_index= CASE oldman_id
        <foreach collection="list" index="index" item="item" open="" separator=" " close="">
            WHEN ${item.oldmanId} THEN #{item.familyIndex}
        </foreach>
        END
        where oldman_id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.oldmanId,jdbcType=BIGINT}
        </foreach>
    </update>


    <insert id="saveAll" parameterType="java.util.List">
        INSERT into oldman_family(oldman_id,family_index)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.oldmanId}, #{item.familyIndex})
        </foreach>
    </insert>
</mapper>
