<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.organOld.dao.repository.OldmanHealthDao">


    <!--collection 一定要取到id 比如hsid haid  不然数据会重复 mybatis 无法识别是同一对象-->
    <resultMap id="oldmanHealth" type="com.organOld.dao.entity.oldman.OldmanHealth">
        <id property="id" column="id" />
        <result property="bloodType" column="blood_type"/>
        <result property="intelligence" column="intelligence" />
        <result property="eyesight" column="eyesight" />
        <result property="time" column="time" />
        <association property="oldman" javaType="com.organOld.dao.entity.oldman.Oldman">
            <id property="id" column="oid" />
            <result property="name" column="name"/>
        </association>
        <collection property="healthAdd" ofType="com.organOld.dao.entity.oldman.HealthAdd">
            <id property="id" column="haid" />
            <result property="type" column="type"/>
            <result property="desc" column="desc" />
        </collection>
        <collection property="healthSelect" ofType="com.organOld.dao.entity.oldman.HealthSelect">
            <id property="id" column="hsid" />
            <result property="firType" column="fir_type"/>
            <result property="secTypeName" column="sec_type_name" />
        </collection>
    </resultMap>

    <!--不能简单的 limit 0，10  因为有1对多的关系  会补全   一条记录当多条使用（由于某个字段有多个值）-->
    <select id="getByPage" parameterType="com.organOld.dao.util.Page" resultMap="oldmanHealth">
        SELECT o.id,old.id oid,old.name,o.blood_type,e.value eyesight,i.value intelligence,ha.type,ha.desc,hs.fir_type,hs.sec_type_name,ha.id haid,hs.id hsid
        FROM oldman_base old,organ org,auto_value x,
        oldman_health_base o LEFT JOIN health_add ha ON ha.oldman_id=o.oldman_id
        LEFT JOIN health_select_oldman hso on hso.oldman_id=o.oldman_id left join health_select hs on hso.health_select_id=hs.id,
        auto_value e,auto_value i
        WHERE old.id=o.oldman_id AND e.id=o.eyesight AND i.id=o.intelligence AND x.id=old.xq_id AND org.id=x.parent_index

        <if test="length!=null and length!=0">
            and old.id in(
            select a.id from
            (select oo.id from oldman_base oo where oo.id>0 order by oo.${sortType} ${sort} limit #{start},#{length} ) as a
            )
        </if>

        <if test="entity!=null and entity.oldman!=null and entity.oldman.id!=null and entity.oldman.id!=0">
            and o.oldman_id=#{entity.oldman.id}
        </if>


        <if test="entity!=null and entity.jwId!=null and entity.jwId!=0">
            and org.id=#{entity.jwId}
        </if>
        <if test="entity!=null and entity.search!=null and entity.search!=''">
            and old.id in
            (
                SELECT DISTINCT(old.id) FROM oldman_base old,oldman_health_base o LEFT JOIN health_add ha ON ha.oldman_id=o.oldman_id
                LEFT JOIN health_select_oldman hso on hso.oldman_id=o.oldman_id left join health_select hs on hso.health_select_id=hs.id
                WHERE old.id=o.oldman_id
                and (o.blood_type LIKE  concat('%',#{entity.search},'%') OR o.eyesight LIKE  concat('%',#{entity.search},'%') OR old.name LIKE  concat('%',#{entity.search},'%')
                OR o.intelligence LIKE  concat('%',#{entity.search},'%') OR ha.desc LIKE  concat('%',#{entity.search},'%') OR hs.sec_type_name LIKE  concat('%',#{entity.search},'%'))
            )
        </if>
    </select>

    <select id="getSizeByPage" parameterType="com.organOld.dao.util.Page" resultType="java.lang.Long">
        SELECT count(1)
        FROM oldman_health_base ohb,oldman_base ob,organ org,auto_value x
        WHERE ohb.oldman_id=ob.id AND x.id=ob.xq_id AND org.id=x.parent_index
        <if test="entity!=null and entity.oldman!=null and entity.oldman.id!=null and entity.oldman.id!=0">
            and oldman_id=#{entity.oldmanId}
        </if>
        <if test="entity!=null and entity.jwId!=null and entity.jwId!=0">
            and org.id=#{entity.jwId}
        </if>
    </select>

    <delete id="delById">
        DELETE FROM oldman_base WHERE id=#{id}
    </delete>

    <insert id="save" parameterType="com.organOld.dao.entity.oldman.Oldman">
        INSERT INTO oldman_base(name,sex,birthday,pid,address,jw_id,census,political_status,district_id,phone)
        VALUE (#{name},#{sex},#{birthday},#{pid},#{address},#{jwId},#{census},#{politicalStatus},#{districtId},#{phone})
    </insert>

    <update id="updateById" parameterType="com.organOld.dao.entity.oldman.Oldman">
        UPDATE oldman_base
        SET name=#{name},sex=#{sex},birthday=#{birthday},pid=#{pid},address=#{address},jw_id=#{jwId},census=#{census},political_status#{politicalStatus},
        district_id=#{districtId},phone=#{phone}
        WHERE id=#{id}
    </update>


    <select id="getAllHealthSelect" resultType="com.organOld.dao.entity.oldman.HealthSelect">
        SELECT * FROM health_select
    </select>

    <select id="getSelectStringLikeIndexx" resultType="java.lang.Integer">
        SELECT id
        FROM health_select
        WHERE sec_type_name LIKE concat("%",#{str},"%")
        and fir_type=#{type}
    </select>
</mapper>
