<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.organOld.dao.repository.OrganDao">

    <select id="getSimpleByType" resultType="com.organOld.dao.entity.organ.Organ">
        SELECT id,name
        FROM organ
        WHERE organ_type_id=#{type}
        <if test="organId!=null and organId!=0">
            AND parent=#{organId}
        </if>

    </select>

    <select id="getByPage" parameterType="com.organOld.dao.util.Page" resultType="com.organOld.dao.entity.organ.Organ">
        SELECT o.id,o.name,o.intro,o.address,o.phone,o.service_time,o.num,o.num_in,o.num_remain,o.status,ot.sec_type organType,d.value districtName,o.time
        FROM organ o LEFT JOIN auto_value d on d.id=o.district_id,organ_type ot
        WHERE o.organ_type_id=ot.id AND ot.fir_type=#{entity.organFirTypeId}

        <if test="entity.status!=null and entity.status!=''">
            AND o.status=#{entity.status}
        </if>
        <if test="sortType!=null and sortType!=''">
            ORDER BY ${sortType}
        </if>
        <if test="sort!=null and sort!=''">
            ${sort}
        </if>
        <if test="length!=null and length!=0">
            limit #{start},#{length}
        </if>
    </select>

    <select id="getSizeByPage" parameterType="com.organOld.dao.util.Page" resultType="java.lang.Long">
        SELECT count(1)
        FROM organ o,organ_type ot
        WHERE o.organ_type_id=ot.id AND ot.fir_type=#{entity.organFirTypeId}
        <if test="entity.status!=null and entity.status!=''">
            AND o.status=#{entity.status}
        </if>
    </select>


    <select id="getByUsername" parameterType="com.organOld.dao.util.Page" resultType="com.organOld.dao.entity.organ.Organ">
        SELECT o.id,o.name,o.intro,o.address,o.phone,o.num,o.num_in,o.num_remain,
        ot.sec_type organType,ot.fir_type organTypeId,d.value districtName,o.work,o.service_time,o.web_url,o.img_url,o.require,o.institution
        FROM organ o LEFT JOIN auto_value d on d.id=o.district_id,organ_type ot,sysuser u,user_organ uo
        WHERE o.organ_type_id=ot.id AND o.id=uo.organ_id AND uo.user_id=u.id AND u.username=#{username}
    </select>


    <insert id="save" parameterType="com.organOld.dao.entity.organ.Organ" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO organ(
        organ_type_id,name,intro,work,service_time,address,phone,web_url,img_url,num,auth_consume,auth_product,auth_sign
        <if test="require!=null and require!=''">
            ,require
        </if>
        <if test="institution!=null and institution!=''">
            ,institution
        </if>
        <if test="numIn!=null and numIn!=''">
            ,num_in
        </if>
        <if test="numRemain!=null and numRemain!=''">
            ,num_remain
        </if>
        <if test="status!=null and status!=''">
            ,status
        </if>
        <if test="districtId!=null and districtId!=''">
            ,district_id
        </if>
        )
        VALUES (
        #{organTypeId},#{name},#{intro},#{work},#{serviceTime},#{address},#{phone},#{webUrl},#{imgUrl},#{num},#{authConsume},#{authProduct},#{authSign}
        <if test="require!=null and require!=''">
            ,#{require}
        </if>
        <if test="institution!=null and institution!=''">
            ,#{institution}
        </if>
        <if test="numIn!=null and numIn!=''">
            ,#{numIn}
        </if>
        <if test="numRemain!=null and numRemain!=''">
            ,#{numRemain}
        </if>
        <if test="status!=null and status!=''">
            ,#{status}
        </if>
        <if test="districtId!=null and districtId!=''">
            ,#{districtId}
        </if>
        )
    </insert>

    <select id="getAuthById" resultType="com.organOld.dao.entity.organ.Organ">
        SELECT auth_consume,auth_product,auth_sign from organ WHERE id=#{organId}
    </select>

    <update id="updateById" parameterType="com.organOld.dao.entity.organ.Organ">
        UPDATE organ
        SET id=#{id}
        <if test="status!=null and status!=''">
            ,status=#{status}
        </if>
        WHERE id=#{id}
    </update>


    <select id="getRoleOrgan" resultType="com.organOld.dao.entity.organ.Organ">
        SELECT o.id,o.name
        FROM organ o,organ_type ot
        WHERE o.organ_type_id=ot.id
        <if test="type==1">
            and ot.fir_type=#{typeIndex}
        </if>
        <if test="type==2">
            and ot.sec_type=#{typeIndex}
        </if>
    </select>
</mapper>
