<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.organOld.dao.repository.ProductDao">


    <select id="getByPage" parameterType="com.organOld.dao.util.Page" resultType="com.organOld.dao.entity.product.Product">
        SELECT *
        FROM product
        WHERE organ_id=#{entity.organId}
        <if test="sortType!=null and sortType!=''">
            ORDER BY ${sortType}
        </if>
        <if test="sort!=null and sort!=''">
            ${sort}
        </if>
        <if test="length!=null and length!=0">
            limit #{start},#{length}
        </if>
    </select>

    <select id="getSizeByPage" parameterType="com.organOld.dao.util.Page" resultType="java.lang.Long">
        SELECT count(1)
        FROM product
        WHERE organ_id=#{entity.organId}
    </select>


    <select id="getById" resultType="com.organOld.dao.entity.product.Product">
        SELECT * FROM product WHERE id=#{id}
    </select>


    <insert id="save" parameterType="com.organOld.dao.entity.product.Product">
        INSERT into product(name,price,intro,img_url,organ_id)
        VALUES (#{name},#{price},#{intro},#{imgUrl},#{organId})
    </insert>

    <update id="updateById" parameterType="com.organOld.dao.entity.product.Product">
        UPDATE product
        set name=#{name},price=#{price},intro=#{intro}
        <if test="imgUrl!=null and imgUrl!=''">
            ,img_url=#{imgUrl}
        </if>
        where id=#{id}
    </update>
</mapper>
