<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.organOld.dao.repository.SystemDao">

    <insert id="importExcel">
        INSERT INTO
      <if test="pType=='oldman'">
          oldman(name,sex) VALUES
          <foreach collection="list" index="index" item="item" separator=",">
              (#{item.name},#{item.sex})
          </foreach>
      </if>
    </insert>
</mapper>
