<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.organOld.dao.repository.UserDao">

    <select id="getByUsername" resultType="com.organOld.dao.entity.SysUser">
      SELECT id,username,password FROM sysuser WHERE username=#{username}
    </select>

    <select id="getSysAuthoritiesByUsername" resultType="com.organOld.dao.entity.SysAuthority">
        SELECT sa.au_name FROM sysauthority sa,sysuser su,user_role ur,role_authority ra
        WHERE su.username=#{username} AND su.id=ur.user_id AND ur.role_id=ra.role_id AND ra.authority_id=sa.id
    </select>

    <select id="getOrganIdByUsername" resultType="java.lang.Integer">
        SELECT uo.organ_id
        FROM user_organ uo,sysuser u
        WHERE uo.user_id=u.id AND u.username=#{username}
    </select>
    <select id="getOrganTypeByUsername" resultType="java.lang.String">
        SELECT ot.sec_type
        FROM user_organ uo,sysuser u,organ o,organ_type ot
        WHERE uo.user_id=u.id AND u.username=#{username} and uo.organ_id=o.id AND o.organ_type_id=ot.id
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sysuser(username,password) VALUE (#{username},#{password})
    </insert>

    <insert id="setUserRole">
        INSERT INTO user_role(user_id,role_id) VALUE (#{userId},#{roleId})
    </insert>
    <insert id="setUserOrgan">
        INSERT INTO user_organ(user_id,organ_id) VALUE (#{userId},#{organId})
    </insert>



    <select id="getByPage" parameterType="com.organOld.dao.util.Page" resultType="com.organOld.dao.entity.SysUser">
        SELECT u.id,u.username,u.password,r.desc,u.time
        FROM sysuser u,sysrole r,user_role ur
        WHERE u.id=ur.user_id and r.id=ur.role_id
        <if test="sortType!=null and sortType!=''">
            ORDER BY ${sortType}
        </if>
        <if test="sort!=null and sort!=''">
            ${sort}
        </if>
        <if test="length!=null and length!=0">
            limit #{start},#{length}
        </if>
    </select>
    <select id="getSizeByPage" parameterType="com.organOld.dao.util.Page" resultType="java.lang.Long">
        SELECT count(1)
        FROM sysuser u,sysrole r,user_role ur
        WHERE u.id=ur.user_id and r.id=ur.role_id
    </select>

    <select id="getAllRole" resultType="com.organOld.dao.entity.SysRole">
        SELECT  * from sysrole
    </select>
</mapper>
