<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.organOld.dao.repository.UserDao">

    <select id="getByUsername" resultType="com.organOld.dao.entity.SysUser">
      SELECT id,username,password FROM sysuser WHERE username=#{username}
    </select>

    <select id="getSysAuthoritiesByUsername" resultType="com.organOld.dao.entity.SysAuthority">
        SELECT sa.au_name FROM sysauthority sa,sysuser su,user_role ur,role_authority ra
        WHERE su.username=#{username} AND su.id=ur.user_id AND ur.role_id=ra.role_id AND ra.authority_id=sa.id
    </select>

    <select id="getOrganIdByUsername" resultType="java.lang.Integer">
        SELECT uo.organ_id
        FROM user_organ uo,sysuser u
        WHERE uo.user_id=u.id AND u.username=#{username}
    </select>
</mapper>
