<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.organOld.dao.repository.VolunteerDao">

    <resultMap id="volunteer" type="com.organOld.dao.entity.volunteer.Volunteer">
        <id property="id" column="id" />
        <result property="time" column="time" />
        <association property="oldman" javaType="com.organOld.dao.entity.oldman.Oldman">
            <id property="id" column="oid" />
            <result property="name" column="name"/>
        </association>
    </resultMap>

    <insert id="saveAll" parameterType="java.util.List">
        INSERT into volunteer(oldman_id)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.oldmanId})
        </foreach>
    </insert>

    <delete id="delByOldmanId" parameterType="java.util.List">
        DELETE from volunteer
        WHERE oldman_id IN
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="delByOrganId" >
        DELETE from volunteer
        where oldamn_id in (
        SELECT o.id FROM oldman_base o,auto_value x,organ org
        WHERE o.xq_id=x.id and x.parent_index=org.id
         <if test="organId!=null and organId!=0">
             and org.id=#{orgaId}
         </if>
        )

    </delete>

    <select id="getByPage" parameterType="com.organOld.dao.util.Page" resultMap="volunteer">
        SELECT v.id,ob.id oid,ob.name,v.time
        FROM volunteer v,oldman_base ob,organ org,auto_value x
        WHERE ob.id=v.oldman_id AND x.id=ob.xq_id AND org.id=x.parent_index and ob.disable=0
        <if test="entity!=null and entity.organId!=null and entity.organId!=0">
            and org.id in (
            SELECT
            case o.parent
            when 0 then child.id
            else o.id
            end id
            from organ o left join organ child on child.parent=o.id
            WHERE o.id=#{entity.organId}
            )
        </if>
        <if test="sortType!=null and sortType!=''">
            ORDER BY ob.${sortType}
        </if>
        <if test="sort!=null and sort!=''">
            ${sort}
        </if>
        <if test="length!=null and length!=0">
            limit #{start},#{length}
        </if>
    </select>

    <select id="getSizeByPage" parameterType="com.organOld.dao.util.Page" resultType="java.lang.Long">
        SELECT count(1)
        FROM volunteer v,oldman_base ob,organ org,auto_value x
        WHERE ob.id=v.oldman_id AND x.id=ob.xq_id AND org.id=x.parent_index and ob.disable=0
        <if test="entity!=null and entity.organId!=null and entity.organId!=0">
            and org.id in (
            SELECT
            case o.parent
            when 0 then child.id
            else o.id
            end id
            from organ o left join organ child on child.parent=o.id
            WHERE o.id=#{entity.organId}
            )
        </if>
    </select>
</mapper>
